[Unit]
Description=Facebook Profile Scraper API
After=network.target

[Service]
User=root
WorkingDirectory=/root/facebook-scraper
ExecStart=/root/facebook-scraper/venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target 